body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  
.shift-right {
    padding-left: 6px;
    padding-right: 0px;
}

.shift-left {
    padding-right: 6px;
    padding-left: 0px;
}

.ma-4 {
    margin: 4px;
}